.active{
    background-color: rgb(57, 21, 95);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: -5px;
    z-index: 2;
    height: 70px;
    min-height: 70px;
    width: calc(100% - 1.5rem);
    background-color: rgb(104, 52, 123);
    padding: 0 1rem;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
  
}

nav .title{
    font-size: 1.5rem;
    margin: 1rem;
    color: white;
}

nav ul{
    display: flex;
}

nav ul li{
    display: block;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li .active {
    background-color: rgb(57, 21, 95);
    padding: 0.45rem;
    border-radius: 0.8rem; 
}

nav ul li:not(.active):hover {
    background-color: rgb(177, 140, 212);
}
nav .menu{
    display: flex;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span{
    height: 0.4em;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
        align-items: start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
        background-color: rgb(104, 52, 123);
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
        position: absolute;
        top: 4rem; 
        right: 0.01rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
        margin: 0.2rem 0.5rem;
    }

    /* Adicionando regra para esconder o menu ao crescer a tela */
    div.menu {
        display: flex;
    }
}

@media (min-width: 481px) {
    div.menu {
        display: none;
    }

}
